* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* ## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)
*/

body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: hsl(216, 12%, 8%);
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    font-family: inherit;
}

p {
    line-height: 1.8;
}

.main-container, .thank-you {
    background-color: hsl(213, 19%, 18%);
    padding: 2rem;
    border-radius: 1.5rem;
    max-width: 450px;
}

.main-container img {
    background-color: hsl(213, 20%, 24%);
    padding: 1rem;
    border-radius: 50%;
}

.main-container h1 {
    color: #fff;
    margin: 2rem 0 1rem;
}

.main-container p {
    color: hsl(217, 12%, 63%);
    margin-bottom: 1.5rem;
}

.main-container ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.main-container ul li button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: hsl(213, 19%, 24%);
    color: hsl(216, 12%, 54%);
    padding-top: 0.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.main-container ul li button:hover {
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}

.main-container ul li button:focus {
    background-color: hsl(217, 12%, 63%);
    color: #fff;
}

.btn-submit {
    font-size: 1rem;
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    letter-spacing: 0.1rem;
    height: 3rem;
    padding: 0.6rem 0rem 0.4rem;
    border: none;
    border-radius: 2rem;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}

.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.thank-you img {
    display: block;
    margin: 2rem auto;
}

.thank-you p.selection {
    background-color: hsl(213, 19%, 24%);
    color: hsl(25, 97%, 53%);
    border-radius: 2rem;
    padding: 0.3rem 1.25rem 0.1rem;
    margin-bottom: 2.5rem;
}

.thank-you h2 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 1rem;
}

.thank-you p {
    color: hsl(217, 12%, 63%);
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}





.attribution { 
    font-size: 11px;
    text-align: center; 
    color: #fff;
    margin-top: 2rem;
}

.attribution a { color: hsl(228, 45%, 44%); }